{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Meetup is a free responsive single page bootstrap template by designerdada.com">
    <meta name="author" content="Akash Bhadange">
    <title>Uniso - Semana Engenharia 2017</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'css/dosis-font.css'%}">
  </head>

  {% block body %}

  {% endblock %}

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/jquery.easing.min.js" %}"></script>
  <script src="{% static "js/scrolling-nav.js" %}"></script>
  <script src="{% static "js/validator.js" %}"></script>
</body>
</html>
